DB_SOURCE=HANA  # HANA|MSSQL

# HANA
HANA_HOST=hana.host
HANA_PORT=30015
HANA_USER=usuario
HANA_PASS=secreto
HANA_SSL=false

# (Opcional) MSSQL fallback
MSSQL_HOST=localhost
MSSQL_DB=bd_sgra
MSSQL_USER=sa
MSSQL_PASS=pass

# SES / Email
AWS_REGION=us-east-1
SES_FROM=alertas@tu-dominio.com
TEST_RECIPIENTS=tu@correo.com

# App
TZ=America/Santiago
LOG_LEVEL=info
