<h1><img alt="Suragra" class="right" src="http://pcom.suragra.com/images/logo_home.png" style="float:left; height:36px; width:162px" /></h1>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Estimados<strong> &lt;&lt;CLIENTE&gt;&gt;</strong></span></span></p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Adjuntamos resumen de facturacion correspondientes al periodo &lt;&lt;MES&gt;&gt; emitidas por SURAGRA S.A.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">El monto total asociado al IVA segun la facturacion corresponde a </span></span><span style="font-size:12px"><span style="font-family:tahoma,geneva,sans-serif"><span style="color:rgb(0, 0, 255)"><strong>&lt;TOTALIVA&gt;</strong></span></span></span></p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">El monto total asociado al NETO en USD segun la facturacion corresponde a </span></span><span style="font-size:12px"><span style="font-family:tahoma,geneva,sans-serif"><span style="color:rgb(0, 0, 255)"><strong>&lt;TOTALNETO&gt;</strong></span></span></span></p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">El monto total asociado al NETO en CLP segun la facturacion corresponde a </span></span><span style="font-size:12px"><span style="font-family:tahoma,geneva,sans-serif"><span style="color:rgb(0, 0, 255)"><strong>&lt;TOTALNETOCLP&gt;</strong></span></span></span></p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">&lt;FACTURAS&gt;</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Agradeceremos pagar el IVA correspondiente a estas facturas antes del d&iacute;a 12 del presente mes, para lo cual, disponemos de las siguientes cuentas bancarias</span></span></p>

<table align="left" border="0" cellpadding="1" cellspacing="1" style="height:106px; width:500px">
	<tbody>
		<tr>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Banco</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Cuenta</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Tipo</span></span></td>
		</tr>
		<tr>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Banco de Chile</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">237-03973-07</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Pesos</span></span></td>
		</tr>
		<tr>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Banco de Chile</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">05-237-03973-01</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">USD</span></span></td>
		</tr>
		<tr>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Banco Santander</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">65-07473-7</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Pesos</span></span></td>
		</tr>
		<tr>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Banco Santander</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">051-00-10213-9</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">USD</span></span></td>
		</tr>
		<tr>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Banco Itau</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">0213616481</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Pesos</span></span></td>
		</tr>
		<tr>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Banco Itau</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">1200232093</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">USD</span></span></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif"><strong>SURAGRA S.A.</strong></span></span></p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif"><strong>RUT 76.148.635-7</strong></span></span></p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif"><a href="mailto:cobranza@suragra.com">cobranza@suragra.com</a></span></span></p>

<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">Si su pago fue hecho recientemente, le rogamos enviar copia de la transferencia y/o deposito a Aracelli Cabrera <a href="mailto:aracelli@suragra.com">aracelli@suragra.com</a>, para actualizar nuestros registros.</span></span></p>

<hr />
<p><span style="font-size:11px"><span style="font-family:tahoma,geneva,sans-serif">* Algunos tildes y acentos han sido omitidos intencionalmente a objeto de asegurar la lectura de este email</span></span></p>
